.container {
  display: flex;
}
.leftSide {
  height: 100vh;
  width: 50vh;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}
.leftSide h2 {
  color: black;
  padding: 60px;
  padding-left: 80px;
}

.leftSide p {
  color: red;
  font-size: 1.5em;
  padding-left: 100px;
  margin-top: -60px;
}

.profileCircle {
  border: 2px solid rgba(241, 149, 118, 1);
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  background-color: rgba(241, 149, 118, 1);
  margin: 20px;
}

.profileCircle p {
  padding-left: 10px;
  color: black;
}

.leftSide button {
  position: absolute;
  margin-top: 340px;
  margin-left: 250px;
  height: 3.8em;
  background-color: rgba(22, 0, 139, 1);
  border-radius: 50%;
}
.leftSide button img {
  height: 1.5em;
}

.rightSide {
  background-color: rgba(218, 229, 245, 1);
  height: 100vh;
  width: 170vh;
}
.rightSide img {
  margin-top: 50px;
  margin-left: 270px;
  height: 40vh;
}

.rightSide h1 {
  color: black;
  margin-left: 390px;
}

.encrypt {
  color: black;
  font-size: 1.2em;
  margin-left: 300px;
}

.encrypt p {
  font-weight: 700;
}

.groupIcon {
  margin-left: 10px;
  width: 68px;
  height: 68px;
  color: #fff;
  border-radius: 50px;
  font-size: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.groupItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.groupItem.selected {
  border-radius: 22px 0px 0px 22px;
  background-color: #f7ecdc;
}
.groupItem:hover {
  border-radius: 22px 0px 0px 22px;
  background-color: #f7ecdc;
}

.groupName {
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0.48px;
  margin-left: -40px;
  margin-bottom: 20px;

}
